.hero_section {
  margin: 0 0 100px 0;
  display: flex;
  background-color: white;
  height: 100vh;
  width: 100%;
}

#hero_image {
  width: 50vw;
  background-image: url("/public/Fit_Woman.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-bottom-right-radius: 50px;
}

.left_hero {
  width: 50vw;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 5% 10% 5% 10%;
}

h1 {
  font-size: 4rem;
}

h3 {
  text-decoration: underline;
  text-decoration-color: #cbea7b;
  text-underline-offset: 10px;
  font-size: 1.5rem;
}

.button_hero_div {
  display: flex;
  gap: 15px;
}

.hero_customers {
  display: flex;
  gap: 10px;
  align-items: center;
}

#customers {
  width: 100px;
}

#customer_span {
  color: #468671;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 1600px) {
  h1 {
    font-size: 3rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 992px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 768px) {
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}
