.outerCalculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  height: 100vh;
  margin: 100px auto;
}

.input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  border-radius: 8px;
  background-color: var(--box-filling-color);
}

.formfieldWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.formFields {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.formFields label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.formFields input,
.formFields select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f0f8ff;
}

.description {
  text-align: center;
  margin-bottom: 50px;
}
.gender {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.center-label {
  display: block;
  text-align: center;
  margin: 0 auto;
}
.gender input {
  margin-right: 10px;
}

.gender label {
  color: #333;
}

.narrow-select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f0f8ff;
}

#calculate_button {
  width: 100px;
}

table {
  text-align: left;
  margin: 20px auto;
  border-collapse: collapse;
}
th,
td {
  text-align: left;
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}
th {
  background-color: #f2f2f2;
}

select {
  width: auto; /* Automatische Breite */
  max-width: 150px; /* Maximale Breite */
}
