footer {
  width: 100vw;
  background-color: var(--dark-green);
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 20px 50px;
}

.home_bar {
  display: flex;
  gap: 20px;
  align-items: center;
}

.go_back_up {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.arrow {
  padding: 15px;
  border-radius: 50%;
  background-color: #234338;
}
